.main{
    width: 100%;
}

.logoImage{
    width: 190px;
    height: 58px;

    
}

a{
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    
}

.heartImage{
    width: 32px;
    height: 32px;

    margin-top: -5px;
}

.arrowImage{
    width: 24px;
    height: 24px;
}

.px-50{
    padding-left: 50px;
    padding-right: 50px;


}

.costumButton{
    background-color: #70D6FF;

    font-weight: 600;


    height: 40px;
}

.-mt-12{
    margin-top: -6px;
    margin-left: 20px;
}

.w-70{
    width: 70px;
}

.menu{
    z-index: 4324;
    cursor: pointer;
}



@keyframes fadeAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideAnimation {
from {
    transform: translateX(-500px);
}
to {
    transform: translateX(0px);
}
  }

@keyframes fadeAnimation2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideAnimation2 {
  from {
      transform: translateX(0px);
  }
  to {
      transform: translateX(-500px);
  }
    }

.shadow-div{
animation: fadeAnimation 0.5s;


z-index: 43;


}

.side-bar{
    animation: slideAnimation 0.5s;
}

.hide-shadow{
    animation: fadeAnimation2 0.5s;
    }
    
.hide-bar{
    animation: slideAnimation2 0.5s;
    width: 0;
}

.bar {
    width: 350px;


}

@media (max-width: 700px) {
    .bar {
        width: 70%;
    }
}